* {
			box-sizing: border-box;
			
		}
		
		body {
			margin: 1px;
			padding: 1px;
		}
		
		.grid-container {
			
			display: grid;
			grid-template-columns: repeat(6, 1fr);
			grid-template-rows:  auto;
			background-image: url("girl-street.jpeg");
			
			background-size: cover;
			height: 1000px;
			width: 100%;
			color:white;
		
		
		grid-template-areas: "header header header header header header"
		"seek seek seek seek seek seek"
		
		
			}
			@media screen and (max-width:400px) {
				.grid-container {
					display: grid;
					grid-template-columns: repeat(2, 1fr);
					grid-template-row: auto;
					background-image: url("girl-street.jpeg");
					height: 600px;
					width: 100%;
					color: white; 
					grid-template-areas: "header header"
					"seek seek"
				}
				
				.links {
					grid-area: header;
					padding: 0px;
					margin: 0px;
					
				}
				
				.container {
					max-width: 100%;
				}
				
				.seek {
					font-size: 20pt;
					text-align: center;
				}
			
				
				
				
			}
			
			@media screen and (max-width: 1200px) {
				.footer {
					display: none;
				}
			}
									
			
			.header {
				display: flex;
				grid-area: header;
				justify-content: space-between;
				width: 100%;
				
			}
			
			.pic {
				margin: 40px;
				width: 100%;
				justify-content: bottom;
				
			}
			.links {
				
				color: gray;
				font-size: 20pt;
				padding: 0px;
				margin: 40px;
			}
			.links a {
				color: #6E6E6E;
				text-decoration: none;
				padding: 14px 16px;
			}	
			.links a:hover{
				color: white;
				font-size: 25pt;
			}
			a.active {
			background-color: #4CAF50;
			color: white;
			}
			
			.seek {
				font-size: 60pt;	
				justify-content:center;
				font-family: 'Patua One', cursive;
				font-family: 'Chau Philomene One', sans-serif;
				grid-area: seek;
				display: flex;
			}
			
	
	.grid-container-1 {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows:  auto;
				background-color: white;
				color: black;
				
			
			grid-template-areas: "text text text"
			
		
}
	
		.text {
			grid-area: text;
			font-size: 25pt;
			text-align: center;
			color: black;
			font-family: 'Patua One', cursive;
			font-family: 'Chau Philomene One', sans-serif;
			display: flex;
			height: 600px;
			justify-content: center;
			align-items: center;
			
			line-height: 80px;
		}
		

	.grid-container-info {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			grid-template-rows: auto;
			height: 50%;
			
		grid-template-area: "head head head"
							"expl expl expl";
	}
	
		.head {
			grid-area: head;
			font-size: 20pt;
			font-family: 'Patua One', cursive;
			font-family: 'Chau Philomene One', sans-serif;
			padding-bottom: 30px;
			padding-left: 20px;
		}
			
	
		.expl {
			grid-area: expl;
			font-size: 16pt;
			font-family: 'Patua One', cursive;
			font-family: 'Chau Philomene One', sans-serif;
			display: flex;
			justify-content: center;
			align-items: left;
			padding: 30px;
			margin: 40px;
		}
		
	.grid-container-contact {
		display: grid;
		grid-template-columns: repeat(3, 1fr)
		grid-template-row: auto;
		
		grid-template-areas: "form form form"
	}
	
		.form {
			display: flex;
			grid-area: form;
			justify-content: center;
			align-items: center;
			font-size: 30pt;
			padding: 35px;
		}
			
		
	
	.grid-container-pictures {
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				grid-template-rows:  auto;
				height: 400px;
				background-color:white;
				
				
				
			grid-template-areas: "pic pic pic"
			
	}

		.pics {
			
			display: flex;
			grid-area: pic;
			justify-content: center;
			align-items: center;
			height: 400px;
			width: 100%;
			flex-wrap: wrap;
		}
		
		.container {
		max-width: 60%;
		position: center;
		margin: auto;
		padding: 50px;
		}

		.mySlides {
			display: none;
			
		}

		.prev, .next {
			cursor: pointer;
			position: absolute;
			top: 180%;
			width: auto;
			margin-top: 60px;
			padding: 20px;
			color: black;
			font-weight: bold;
			font-size: 18px;
			transition: 0.6s ease;
			border-radius: 0 3px 3px 0;
			
		}
		.prev {
			left: 20%;
		}
		.next {
			right: 20%;
			border-radius: 3px 0 0 3px;
		}

		.prev:hover, .next:hover {
			background-color: rgba(0,0,0,0.8);
		}

		

		

		.dot {
			cursor: pointer;
			height: 15px;
			width: 15px;
			margin: 0 2px;
			background-color: #bbb;
			border-radius: 50%;
			display: inline-block;
			transition: background-color 0.6s ease;
		}

		.active, .dot:hover {
			background-color: #717171;
		}


	
	.footer {
				
			   left: 0;
			   bottom: 0;
			   width: 100%;
			   height: 150px;
			   background-color: black;
			   color: white;
			   text-align: center;
			   position: static;
			   min-width: 600px;

			}	
	
	

	
		
	